
.advantages {
    
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
      padding-bottom: 86px;
  }
  
    background-color: var(--bg-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages__list {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 80px;

    }
}

.advantages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 230px;
    padding-top: 66px;

    // ========================= ANIMATION =========================

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // ========================= /ANIMATION =========================

    @media screen and (min-width: 768px) {
        padding-top: 82px;

        width: 152px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 90px;

      width: 368px;
    }

    &::before {
        display: inline-block;
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        width: 50px;
        height: 50px;
        padding: 7px;
        transform: translateX(-50%);

        border-radius: 50%;

    
        background-color: var(--active-color);
        background-size: 36px 36px;
        background-position: center;
        background-repeat: no-repeat;
        }

    &:nth-child(1)::before {

        @media screen {
            background-image: url("../images/advantages-icon-1.png"); 
        }

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url("../images/advantages-icon-1@2x.png"); 
        }
    }

    &:nth-child(2)::before {

        @media screen {
            background-image: url("../images/advantages-icon-2.png"); 
        }

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url("../images/advantages-icon-2@2x.png"); 
        }
    }

    &:nth-child(3)::before {

        @media screen {
            background-image: url("../images/advantages-icon-3.png"); 
        }

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url("../images/advantages-icon-3@2x.png"); 
        }
    }

      // ========================= ANIMATION =========================

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
             0px 2px 2px rgba(0, 0, 0, 0.06),
             1px 2px 4px rgba(0, 0, 0, 0.16),
             1px 2px 4px rgba(0, 0, 0, 0.16) ;

            transform: scale(1.05);
  }

      // ========================= /ANIMATION =========================

}

.advantages__accent {
    margin-bottom: 18px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;

        font-family: inherit;
        font-size: 48px;
        line-height: 1.23;
        text-transform: lowercase;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.22;
    }
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
    }
}