body {
  font-family: "Montserrat";
  color: var(--primary-color);
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 0.04em;

  height: 100%;

  background-color: #ffffff;
  background-image: url('../images/bg-body/ice_cream.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg-body/ice_cream@2x.jpg);
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}