//mobile-menu-btn

.mobile-menu-btn {
  display: block;
  line-height: 0;
  padding: 0;
  border: 0;
  background-color: var(--bg-color);
}

.mobile-menu-btn__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
}

//mobile-menu-btn

.button {
  padding: 12px 34px;
  border: 0;
  min-height: 42px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

// btn-solid-background     на кнопки со сплошным фоном применять 2 класса button и btn-solid-bg

.btn-solid-bg {
  background: var(--active-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--btn-hover-focus--color);
  }

  &:focus {
    background: var(--btn-hover-focus--color);
    color: var(--primary-color);
  }

  &:disabled {
    background-color: var(--btn-disabled-color);
  }
}

// btn-solid-background

// btn Hero

.btn-products {
  padding: 8px 10px;
  border: 0;

  min-width: 62px;
  min-height: 24px;
  background: var(--bg-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  border: 2px solid var(--active-color);
  border-radius: 8px;
  color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--btn-hover-focus--color);
  }

  &:focus {
    border-color: var(--btn-hover-focus--color);
    color: var(--primary-color);
  }

  &:disabled {
    border-color: var(--btn-disabled-color);
  }
}

.btn-hero {
  min-width: 82px;
  padding: 8px 10px;
  border: 0;
  font-weight: 600;
  text-decoration: underline;
  font-size: 8px;
  line-height: 10px;
  color: var(--active-color);
  background-color: var(--bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--btn-hover-focus--color);
  }

  &:focus {
    color: var(--primary-color);
  }

  &:disabled {
    color: var(--btn-disabled-color);
  }
}
// btn Hero products

// modal button

.btn-modal-close {
  line-height: 0;
  padding: 0;
  border: 0;
  background-color: var(--primary-color);
}

.btn-modal-close__icon {
  width: 16px;
  height: 16px;
  fill: var(--secondary-color);
}

.btn-modal {
  padding: 12px 34px;
  border: 0;
  min-height: 42px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  background: var(--active-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--btn-hover-focus--color);
  }

  &:focus {
    background-color: var(--btn-hover-focus--color);
    color: var(--primary-color);
  }

  &:disabled {
    background-color: var(--btn-disabled-color);
  }
}

// modal button

// btn products
.btn-open-modal-products {
  padding-bottom: 12px;
  border: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: transparent;
}

.open-modal-products__icon {
  width: 40px;
  height: 16px;
  fill: var(--secondary-color);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-width 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-open-modal-products:hover & {
    width: 50px;
  }

  .btn-open-modal-products:focus & {
    width: 50px;
    height: 22px;
    stroke: var(--secondary-color);
    stroke-width: 1px;
  }
}
// btn products

.btn-franchise {
  padding: 12px 46px;
  min-width: 196px;
  min-height: 42px;
  background: var(--bg-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  border: 2px solid var(--active-color);
  border-radius: 8px;
  color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--btn-hover-focus--color);
  }

  &:focus {
    border-color: var(--btn-hover-focus--color);
    color: var(--primary-color);
  }

  &:disabled {
    border-color: var(--btn-hover-focus--color);
  }
}

@media screen and (min-width: 1200px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .btn-products {
    padding: 12px 34px;
    min-width: 134px;
    min-height: 42px;
    font-size: 14px;
    line-height: 18px;
  }

  .btn-hero {
    padding: 12px 22px;
    min-width: 154px;
    min-height: 40px;
    font-size: 14px;
    line-height: 17px;
  }

  .btn-modal {
    font-size: 14px;
    line-height: 17px;
  }

  .btn-open-modal-products {
    padding-bottom: 52px;
  }

  .btn-modal-close__icon {
    width: 20px;
    height: 20px;
  }
}
