.container {
    margin: 0 auto;
    padding: 0 16px 0 16px;
  
    @media (max-width: 480px) {
      width: 320px;
    }
  
    @media (min-width: 768px) {
      width: 768px;
    }
  
    @media (min-width: 1200px) {
      width: 1200px;
    }
  
  }