.container {
    padding: 0 20px;

    @media (min-width: 480px) {
      margin: 0 auto;
      max-width: 480px;
    }

    @media (min-width: 768px) {
      width: 768px;
      padding: 0 32px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
      padding: 0 16px;
    }

  }