.contact {
  background-color: var(--bg-color);
}

.invisible-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contact-boxes {

  @media screen and (max-width: 767px) {
     display: flex;
     flex-direction: column;
    }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.contact-box {
  width: 100%;
  max-width: 280px;

  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 224px;
    padding: 40px 24px;

    margin-top: -304px;
    z-index: 50;
  }

  @media screen and (min-width: 1200px) {
    max-width: 368px;
    padding: 40px 40px;

    margin-top: -96px;
    z-index: 50;
  }

  &:first-child {
    @media screen and (max-width: 767px) {
      margin-top: -355px;
      z-index: 50;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.contact-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.contact-title-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;

  height: 16px;
  background: #f8d24e;
  border-radius: 4px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 73px;
    height: 28px;
  }
}

.contact-title-style-foodtruck {
  width: 130px;
  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.contact-city {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.contact-address-link {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #d6936d;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.contact-address {
  padding-bottom: 23px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 23px;

  @media screen and (min-width: 768px) {
    padding-bottom: 31px;
    margin-bottom: 31px;
  }
}

.contact-schedul {
  padding-bottom: 23px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 23px;

  @media screen and (min-width: 768px) {
    padding-bottom: 31px;
    margin-bottom: 31px;
  }
}

.contact-margin {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.contact-work-day {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-work-howers {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ababab;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-connection {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 5;
  color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-bottons {
  text-align: center;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.buttons {
  @media (max-width:767px) {
    margin-bottom: 16px;
  }
}
