.footer {
    background-color: var(--bg-color);

    &__wrapper {
      font-family: 'Montserrat';
      font-weight: 700;

      padding: 38px 0 40px 0;
    }

    &__text {
        text-align: left;

        font-size: 18px;
        line-height: 1.22;
        text-transform: uppercase;
        color: var(--primary-color);
    }

    &__title {
      margin-bottom: 16px;
    }

    &__subtitle {
        font-size: 34px;
        line-height: 1.2;

        width: 200px;

        margin-bottom: 42px;
    }

    &__social {
      display: flex;
      justify-content: flex-end;
      column-gap: 27px;
      margin-bottom: 44px;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background: #F8D24E;
    }

    &__contact {
      display: block;
      font-size: 12px;
      line-height: 2.2;
      text-align: right;

      color: var(--secondary-color);
    }

    &__contact-tell {
      color: var(--primary-color);
    }

    &__copyright {
      font-weight: 700;
      text-align: center;

      border-top: 1px solid #E1E1E1;

      padding: 16px 0 62px 0;
    }

    &__copyright-text {
      font-size: 14px;
      line-height: 1.6;
      text-align: center;

      color: #7A7A7A;
    }
}
