.hat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1010;
}

.site-nav, .hat__button {
    display: none;
}

.heder-logo {
    display: block;
    width: 40px;
    height: 37px;
}

.burger-button {
    width: 32px;
    height: 32px;
}

.hat__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    padding-top: 12px;
}

// ! mobile-menu

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #85A279;

    overflow-y: scroll;
    overflow: auto;
    transform: translateX(100%);

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        transform: translateX(0);
    }
}

.mobile-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 51px;
}

.mobile-menu__container {
    padding-top: 12px;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    margin-bottom: 111px;
}

.mobile-menu-by-now-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-nav-list__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: #FCFCFC;

    &.h-i-m {
        color: #131313;
    }
}

// ! Наш лого

.our-logo {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100;
    width: 40px;
    height: 40px;

    animation: 5s linear 0s normal none infinite running rot;
  -webkit-animation: 5s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (min-width: 768px) {
    .hat__button {
        display: block;
    }

    .hat__container {
        justify-content: flex-start;
    }

    .heder-logo {
        width: 48px;
        height: 44px;
        margin-right: 440px;
    }

    .burger-button {
        margin-right: 32px;
    }

    .our-logo {
        width: 60px;
        height: 60px;
    }

    // ! mobile-menu

    .mobile-menu-by-now-btn {
        display: none;
    }

    .mobile-menu-wrapper {
        margin-bottom: 76px;
    }

    .mobile-nav-list {
        gap: 40px;
        margin-bottom: 0;
    }

    .mobile-nav-list__link {
        font-size: 48px;
    }
}

@media screen and (min-width: 1200px) {
    .site-nav {
        display: flex;
        gap: 27px;

        margin-right: 247px;
    }

    .site-nav__link {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: #FCFCFC;
        white-space: nowrap;
        letter-spacing: 0.01em;

        &:hover,
        &:focus {
          color: var(--active-color);
        }

        transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .heder-logo {
        width: 60px;
        height: 65px;

        margin-right: 268px;
    }

    .burger-button {
        display: none;
    }

    .our-logo {
        width: 80px;
        height: 80px;
    }
}
