.site-nav, .hat__button {
    display: none;
}

.heder-logo {
    display: block;
    width: 40px;
    height: 37px;
}

.burger-button {
    width: 32px;
    height: 32px;
}

.hat__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    // position: absolute;
    top: 0;
    left: 0;

    padding-top: 12px;

    background-color: green;
}

@media screen and (min-width: 768px) {
    .hat__button {
        display: block;
        width: 152px;
        height: 42px;
    }

    .hat__container {
        justify-content: flex-start;
    }

    .heder-logo {
        width: 48px;
        height: 44px;
        margin-right: 440px;
    }

    .burger-button {
        margin-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .site-nav {
        display: flex;
        gap: 27px;

        margin-right: 247px;
    }

    .site-nav__link {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: (20/16);
        color: #FCFCFC;
        white-space: nowrap;
        letter-spacing: 0.01em;
    }

    .heder-logo {
        width: 60px;
        height: 65px;
        
        margin-right: 268px;
    }

    .burger-button {
        display: none;
    }
}