.modal-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 986px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  &__buy {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #131313;
  }
}

.modal-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &__name-m,
  &__phone-m,
  &__email-m {
    width: 224px;
    height: 32px;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
  }

  &__comment-m {
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 39px;
    width: 224px;
    height: 64px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
  }

  &__image {
    position: absolute;
    top: 99px;
    display: flex;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 88px;
  }
}

.modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__ice-cream {
    width: 132px;
    height: 136px;
    margin-bottom: 83px;
    appearance: none;
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
  }

  &__ice-coffe {
    width: 132px;
    height: 136px;
    margin-bottom: 83px;
    appearance: none;
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;
  }

  &__milkshake {
    width: 132px;
    height: 136px;
    appearance: none;
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
  }

  &__ice-cream:checked {
    background-color: #96af8c;
    border-color: #96af8c;
  }
  &__ice-coffe:checked {
    background-color: #efd478;
    border-color: #efd478;
  }
  &__milkshake:checked {
    background-color: #d6936d;
    border-color: #d6936d;
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 42px;
  margin-top: 24px;
  background: #f8d24e;
  border-radius: 10px;
  cursor: pointer;
}

input::placeholder {
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
}

.span-ice-cream {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
}

// Модалка с видео

.modal-video {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 280px;
  height: 459px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  &__how {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
    color: #131313;
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    height: 199px;
    background-image: url(/src/images/modal/ice-cream.jpg);
    background-size: cover;
    border-radius: 10px;
  }

  &__text_container {
    width: 224px;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }
}

.video {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

// Модалка с картой

.modal-map {
  position: relative;
  width: 280px;
  height: 365px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;

  &__location {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
    color: #131313;
  }

  &__map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    height: 199px;
  }
}

.link-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 134px;
  height: 42px;
  margin-top: 24px;
  background: #f8d24e;
  border-radius: 10px;
}

// Модалка с благодарочкой

.modal-thanks {
  position: relative;
  width: 280px;
  height: 674px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;

  &__interest {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
    color: #131313;
  }

  &__text {
    width: 222px;
    height: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }
}

// Модалка состав

.modal-compound {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 990px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  &__chololate {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
    color: #131313;
  }

  &__image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }

  &__ingredients {
    display: flex;
    justify-content: center;
    gap: 9px;
  }

  &__indicators {
    justify-content: center;
    color: #131313;
  }

  &__cal {
    flex-direction: column;
    width: 53px;
    height: 72px;
    border: 2px solid #9cbe8f;
    border-radius: 40px;
  }

  &__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;
    color: #131313;
    background-color: #9cbe8f;
    border-radius: 50%;
    border: 2px solid #9cbe8f;
  }

  &__values {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
  }
}
