:root {
    --primary-color: #FCFCFC;
    --secondary-color: #131313;
    --active-color: #F8D24E;
    --bg-color: #84A178;
    --btn-hover-focus--color:#0A8817;
    --btn-disabled-color:#ABABAB;
}

.overtext {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}