@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Montserrat";
  color: var(--primary-color);
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 0.04em;
  height: 100%;
  background-color: #ffffff;
  background-image: url("../images/bg-body/ice_cream.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg-body/ice_cream@2x.jpg);
  }
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 1200px;
    padding: 0 16px;
  }
}

:root {
  --primary-color: #FCFCFC;
  --secondary-color: #131313;
  --active-color: #F8D24E;
  --bg-color: #84A178;
}

.overtext {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer {
  background-color: var(--bg-color);
}
.footer__wrapper {
  width: 100%;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 38px 0 40px 0;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px 0;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    padding: 120px 0 54px 0;
  }
}
.footer__text {
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__text {
    width: 352px;
  }
}
@media (max-width: 767px) {
  .footer__text {
    margin-bottom: 42px;
  }
}
.footer__subtitle {
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-color);
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__subtitle {
    font-size: 26px;
    line-height: 1.23;
  }
}
@media (min-width: 1200px) {
  .footer__subtitle {
    font-weight: 400;
    font-size: 30px;
  }
}
.footer__title {
  font-size: 34px;
  line-height: 1.2;
}
@media (max-width: 1199px) {
  .footer__title {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 48px;
    line-height: 1.22;
  }
}
@media (min-width: 1200px) {
  .footer__title {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}
.footer__social {
  margin-top: auto;
  margin-bottom: auto;
}
.footer__list {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
@media (max-width: 767px) {
  .footer__list {
    margin-bottom: 38px;
  }
}
@media (min-width: 768px) {
  .footer__list {
    margin-bottom: 47px;
  }
}
.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #F8D24E;
}
@media (min-width: 76px) {
  .footer__item {
    height: 34px;
    width: 34px;
  }
}
.footer__contact {
  display: block;
  font-size: 12px;
  line-height: 2.2;
  text-align: right;
  color: var(--secondary-color);
}
@media (min-width: 768px) {
  .footer__contact {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media (min-width: 1200px) {
  .footer__contact {
    font-size: 16px;
    line-height: 1.87;
  }
}
.footer__contact-tell {
  color: var(--primary-color);
}
.footer__copyright {
  font-weight: 700;
  text-align: center;
  border-top: 1px solid #E1E1E1;
  padding: 16px 0 62px 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 12px 0 12px 0;
  }
}
.footer__copyright-text {
  font-size: 14px;
  line-height: 1.6;
  color: #7A7A7A;
}
@media (max-width: 767px) {
  .footer__copyright-text {
    margin: 0 auto;
    width: 160px;
  }
}/*# sourceMappingURL=index.css.map */