
@import './common';
@import "./base";
@import "./container";
@import "./vars";
@import "./buttons";
@import "./modal";
@import './modal-tablet';
@import "./modal-icecream.scss";
@import "./header";
@import "./hero";
@import "./products";
@import "./about";
@import "./advantages";
@import "./gallery";
@import "./customer";
@import "./contacts";
@import "./reviews";
@import "./footer"



