@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Montserrat";
  color: var(--primary-color);
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 0.04em;
  height: 100%;
  background-color: #ffffff;
  background-image: url("../images/bg-body/ice_cream.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg-body/ice_cream@2x.jpg);
  }
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 1200px;
    padding: 0 16px;
  }
}

:root {
  --primary-color: #FCFCFC;
  --secondary-color: #131313;
  --active-color: #F8D24E;
  --bg-color: #84A178;
  --btn-hover-focus--color:#0A8817;
  --btn-disabled-color:#ABABAB;
}

.overtext {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.mobile-menu-btn {
  display: block;
  line-height: 0;
  padding: 0;
  border: 0;
  background-color: var(--bg-color);
}

.mobile-menu-btn__icon {
  width: 32px;
  height: 32px;
  fill: #FFF;
}

.button {
  padding: 12px 34px;
  border: 0;
  min-height: 42px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

.btn-solid-bg {
  background: var(--active-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-solid-bg:hover {
  background-color: var(--btn-hover-focus--color);
}
.btn-solid-bg:focus {
  background: var(--btn-hover-focus--color);
  color: var(--primary-color);
}
.btn-solid-bg:disabled {
  background-color: var(--btn-disabled-color);
}

.btn-products {
  padding: 8px 10px;
  border: 0;
  min-width: 62px;
  min-height: 24px;
  background: var(--bg-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  border: 2px solid var(--active-color);
  border-radius: 8px;
  color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-products:hover {
  border-color: var(--btn-hover-focus--color);
}
.btn-products:focus {
  border-color: var(--btn-hover-focus--color);
  color: var(--primary-color);
}
.btn-products:disabled {
  border-color: var(--btn-disabled-color);
}

.btn-hero {
  min-width: 82px;
  padding: 8px 10px;
  border: 0;
  font-weight: 600;
  text-decoration: underline;
  font-size: 8px;
  line-height: 10px;
  color: var(--active-color);
  background-color: var(--bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:hover {
  color: var(--btn-hover-focus--color);
}
.btn-hero:focus {
  color: var(--primary-color);
}
.btn-hero:disabled {
  color: var(--btn-disabled-color);
}

.btn-modal-close {
  line-height: 0;
  padding: 0;
  border: 0;
  background-color: var(--primary-color);
}

.btn-modal-close__icon {
  width: 16px;
  height: 16px;
  fill: var(--secondary-color);
}

.btn-modal {
  padding: 12px 34px;
  border: 0;
  min-height: 42px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  background: var(--active-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover {
  background-color: var(--btn-hover-focus--color);
}
.btn-modal:focus {
  background-color: var(--btn-hover-focus--color);
  color: var(--primary-color);
}
.btn-modal:disabled {
  background-color: var(--btn-disabled-color);
}

.btn-open-modal-products {
  padding-bottom: 12px;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.open-modal-products__icon {
  width: 40px;
  height: 16px;
  fill: var(--secondary-color);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke-width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-open-modal-products:hover .open-modal-products__icon {
  width: 50px;
}
.btn-open-modal-products:focus .open-modal-products__icon {
  width: 50px;
  height: 22px;
  stroke: var(--secondary-color);
  stroke-width: 1px;
}

.btn-franchise {
  padding: 12px 46px;
  min-width: 196px;
  min-height: 42px;
  background: var(--bg-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  border: 2px solid var(--active-color);
  border-radius: 8px;
  color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-franchise:hover {
  border-color: var(--btn-hover-focus--color);
}
.btn-franchise:focus {
  border-color: var(--btn-hover-focus--color);
  color: var(--primary-color);
}
.btn-franchise:disabled {
  border-color: var(--btn-hover-focus--color);
}

@media screen and (min-width: 1200px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .btn-products {
    padding: 12px 34px;
    min-width: 134px;
    min-height: 42px;
    font-size: 14px;
    line-height: 18px;
  }
  .btn-hero {
    padding: 12px 22px;
    min-width: 154px;
    min-height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
  .btn-modal {
    font-size: 14px;
    line-height: 17px;
  }
  .btn-open-modal-products {
    padding-bottom: 52px;
  }
  .btn-modal-close__icon {
    width: 20px;
    height: 20px;
  }
}
.site-nav, .hat__button {
  display: none;
}

.heder-logo {
  display: block;
  width: 40px;
  height: 37px;
}

.burger-button {
  width: 32px;
  height: 32px;
}

.hat__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 12px;
  background-color: green;
}

@media screen and (min-width: 768px) {
  .hat__button {
    display: block;
    width: 152px;
    height: 42px;
  }
  .hat__container {
    justify-content: flex-start;
  }
  .heder-logo {
    width: 48px;
    height: 44px;
    margin-right: 440px;
  }
  .burger-button {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    gap: 27px;
    margin-right: 247px;
  }
  .site-nav__link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FCFCFC;
    white-space: nowrap;
    letter-spacing: 0.01em;
    transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--active-color);
  }
  .heder-logo {
    width: 60px;
    height: 65px;
    margin-right: 268px;
  }
  .burger-button {
    display: none;
  }
}
.proparallax__box {
  display: flex;
  justify-content: center;
}

#proparallax {
  width: 279px;
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 130px;
  border-radius: 7.40681px;
  margin-bottom: 80px;
}

#proparallax img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 480px) {
  #proparallax {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 46%;
    border-radius: 7.40681px;
    margin-bottom: 80px;
  }
  #proparallax img {
    position: absolute;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  #proparallax img.two {
    display: none;
  }
  #proparallax img.three {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #proparallax {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    padding-top: 44%;
    margin-bottom: 60px;
  }
  #proparallax img {
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  @-webkit-keyframes parallax_one {
    /* controls img.one movement */
    0% {
      /* .imageloaded */
      height: 327px;
      width: 704px;
      left: 0;
      opacity: 1;
    }
    /* .imagehold runs from 0 to 27.77% */
    27.77% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    27.78% {
      /* .imagepreunload */
      width: 704px;
      left: 0;
      right: 704px;
    }
    33.33% {
      /* .imageunloaded */
      height: 327px;
      width: 0;
      left: 0;
      right: 0;
      opacity: 1;
    }
    33.34% {
      /* imageoff */
      opacity: 0;
    }
    94.43% {
      /* .imageon */
      left: 0;
      opacity: 0;
    }
    94.44% {
      /* .imageinitial */
      height: 327px;
      width: 0;
      left: 704px;
      opacity: 1;
    }
    100% {
      /* .imageloaded */
      width: 704px;
      left: 0;
      opacity: 1;
    }
  }
  @keyframes parallax_one {
    /* controls img.one movement */
    0% {
      /* .imageloaded */
      height: 327px;
      width: 704px;
      left: 0;
      opacity: 1;
    }
    /* .imagehold runs from 0 to 27.77% */
    27.77% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    27.78% {
      /* .imagepreunload */
      width: 704px;
      left: 0;
      right: 704px;
    }
    33.33% {
      /* .imageunloaded */
      height: 327px;
      width: 0;
      left: 0;
      right: 0;
      opacity: 1;
    }
    33.34% {
      /* imageoff */
      opacity: 0;
    }
    94.43% {
      /* .imageon */
      left: 0;
      opacity: 0;
    }
    94.44% {
      /* .imageinitial */
      height: 327px;
      width: 0;
      left: 704px;
      opacity: 1;
    }
    100% {
      /* .imageloaded */
      width: 704px;
      left: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes parallax_two {
    /* controls img.two movement */
    0% {
      /* .imageoff */
      opacity: 0;
    }
    27.77% {
      /* .imageon */
      left: 0;
      opacity: 0;
    }
    27.78% {
      /* .imageinitial */
      width: 0;
      height: 327px;
      left: 704px;
      opacity: 1;
    }
    33.33% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    /* .imagehold runs from 33.34% - 61.10% */
    61.10% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    61.11% {
      /* .imagepreunload */
      width: 704px;
      left: 0;
      right: 704px;
    }
    66.67% {
      /* .imageunloaded */
      width: 0;
      right: 0;
      left: 0;
      height: 327px;
      opacity: 1;
    }
    66.68% {
      /* .imageoff */
      opacity: 0;
    }
    100% {
      /* .imageoff */
      opacity: 0;
    }
  }
  @keyframes parallax_two {
    /* controls img.two movement */
    0% {
      /* .imageoff */
      opacity: 0;
    }
    27.77% {
      /* .imageon */
      left: 0;
      opacity: 0;
    }
    27.78% {
      /* .imageinitial */
      width: 0;
      height: 327px;
      left: 704px;
      opacity: 1;
    }
    33.33% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    /* .imagehold runs from 33.34% - 61.10% */
    61.10% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    61.11% {
      /* .imagepreunload */
      width: 704px;
      left: 0;
      right: 704px;
    }
    66.67% {
      /* .imageunloaded */
      width: 0;
      right: 0;
      left: 0;
      height: 327px;
      opacity: 1;
    }
    66.68% {
      /* .imageoff */
      opacity: 0;
    }
    100% {
      /* .imageoff */
      opacity: 0;
    }
  }
  @-webkit-keyframes parallax_three {
    /* controls img.three movement */
    0% {
      /* .imageoff */
      opacity: 0;
    }
    61.10% {
      /* .imageon */
      opacity: 0;
    }
    61.11% {
      /* .imageinitial */
      width: 0;
      height: 327px;
      left: 704px;
      opacity: 1;
    }
    66.67% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    /* .imagehold runs from 66.67% - 94.43% */
    94.43% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    94.44% {
      /* .imagepreunload */
      width: 704px;
      left: 0;
      right: 704px;
    }
    100% {
      /* imageunloaded */
      width: 0;
      right: 0;
      left: 0;
      height: 327px;
      opacity: 1;
    }
  }
  @keyframes parallax_three {
    /* controls img.three movement */
    0% {
      /* .imageoff */
      opacity: 0;
    }
    61.10% {
      /* .imageon */
      opacity: 0;
    }
    61.11% {
      /* .imageinitial */
      width: 0;
      height: 327px;
      left: 704px;
      opacity: 1;
    }
    66.67% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    /* .imagehold runs from 66.67% - 94.43% */
    94.43% {
      /* .imageloaded */
      width: 704px;
      left: 0;
    }
    94.44% {
      /* .imagepreunload */
      width: 704px;
      left: 0;
      right: 704px;
    }
    100% {
      /* imageunloaded */
      width: 0;
      right: 0;
      left: 0;
      height: 327px;
      opacity: 1;
    }
  }
  #proparallax img.one {
    -webkit-animation-name: parallax_one;
            animation-name: parallax_one;
    /* controls img.one movement */
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;
            animation-duration: 18s;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #proparallax img.two {
    -webkit-animation-name: parallax_two;
            animation-name: parallax_two;
    /* controls img.two movement */
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;
            animation-duration: 18s;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #proparallax img.three {
    -webkit-animation-name: parallax_three;
            animation-name: parallax_three;
    /* controls img.three movement */
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;
            animation-duration: 18s;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1200px) {
  #proparallax {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 42%;
    border-radius: 24px;
    margin-bottom: 128px;
  }
}
.footer {
  background-color: var(--bg-color);
}
.footer__wrapper {
  width: 100%;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 38px 0 40px 0;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px 0;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    padding: 120px 0 54px 0;
  }
}
.footer__text {
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__text {
    width: 352px;
  }
}
@media (max-width: 767px) {
  .footer__text {
    margin-bottom: 42px;
  }
}
.footer__subtitle {
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-color);
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__subtitle {
    font-size: 26px;
    line-height: 1.23;
  }
}
@media (min-width: 1200px) {
  .footer__subtitle {
    font-weight: 400;
    font-size: 30px;
  }
}
.footer__title {
  font-size: 34px;
  line-height: 1.2;
}
@media (max-width: 1199px) {
  .footer__title {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 48px;
    line-height: 1.22;
  }
}
@media (min-width: 1200px) {
  .footer__title {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}
.footer__social {
  margin-top: auto;
  margin-bottom: auto;
}
.footer__list {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
@media (max-width: 767px) {
  .footer__list {
    margin-bottom: 38px;
  }
}
@media (min-width: 768px) {
  .footer__list {
    margin-bottom: 47px;
  }
}
.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #F8D24E;
}
@media (min-width: 76px) {
  .footer__item {
    height: 34px;
    width: 34px;
  }
}
.footer__contact {
  display: block;
  font-size: 12px;
  line-height: 2.2;
  text-align: right;
  color: var(--secondary-color);
}
@media (min-width: 768px) {
  .footer__contact {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media (min-width: 1200px) {
  .footer__contact {
    font-size: 16px;
    line-height: 1.87;
  }
}
.footer__contact-tell {
  color: var(--primary-color);
}
.footer__copyright {
  font-weight: 700;
  text-align: center;
  border-top: 1px solid #E1E1E1;
  padding: 16px 0 62px 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 12px 0 12px 0;
  }
}
.footer__copyright-text {
  font-size: 14px;
  line-height: 1.6;
  color: #7A7A7A;
}
@media (max-width: 767px) {
  .footer__copyright-text {
    margin: 0 auto;
    width: 160px;
  }
}/*# sourceMappingURL=index.css.map */