    // backdrop

    .backdrop {
        overflow: scroll;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        width: 100%;
        height: 100%;

        padding-left: 15px;
        padding-right: 15px;
        overflow-y: scroll;

        background-color: rgba(0, 0, 0, 0.2);

        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
      }


      // modal / form

  .modal-icecream {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 28px 20px 32px;

    background: var(--primary-color);
    border: 2px solid var(--active-color);
    border-radius: 10px;

    margin-top: 20px;
    @media screen and (max-width: 767px) {
        width: 280px;
        height: auto;
    }

    @media screen and (min-width: 768px) {
        width: 568px;
        padding: 32px 40px;
    }
  }

  .modal-icecream__btn-close {
    position: absolute;
    top: 28px;
    right: 20px;
    z-index: 2;

    width: 20px;
    height: 20px;

    cursor: pointer;
  }

  .modal-icecream-form__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 184px;

    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    color: var(--secondary-color);

    @media screen and (max-width: 768px) {
        width: 142px;
        margin-left:auto;
        margin-right: auto;
    }
    

    @media screen and (min-width: 768px) {
      margin-bottom: 186px;
    }

    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      top: 78px;
      left: 50%;
      width: 131px;
      height: 131px;

      transform: translate(-50%, 0);

      border-radius: 50%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (min-width: 768px) {
        top: 52px;
      }

      @media screen {
        background-image: url("/src/images/modal-icecream/icecream-modal-img.png");
      }

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url("/src/images/modal-icecream/icecream-modal-img@2x.png");
      }

    }

    &::before {
      display: inline-block;
      position: absolute;
      content: "";
      top: 87px;
      left: 50%;
      width: 131px;
      height: 131px;

      transform: translate(-50%, 0);

      border-radius: 50%;

      background: linear-gradient(0deg, rgba(156, 190, 143, 0.7),
       rgba(156, 190, 143, 0.7)), #D9D9D9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
      background-size: 131px;
      background-position: center;
      background-repeat: no-repeat;

      @media screen and (min-width: 768px) {
        top: 59px;
      }
    }
  }

  .modal-icecream-form__list {
    display: flex;
    gap: 9px;
    justify-content: center;

    margin-bottom: 39px;

    @media screen and (min-width: 768px) {
      gap: 20px;

      margin-bottom: 48px;
    }
  }

  .modal-icecream-form__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 53px;
    height: 72px;

    border: 2px solid #9CBE8F;
    border-radius: 40px;

    @media screen and (min-width: 768px) {
      width: 65px;
      height: 90px;
    }
  }

  .modal-icecream-form {

    &__text-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;

      width: 43px;
      height: 43px;
      background-color: #9CBE8F;
      border: 2px solid #9CBE8F;
      border-radius: 50px;
      box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

      font-weight: 500;
      font-size: 10px;
      line-height: 2.8;

      color: var(--secondary-color);

      @media screen and (min-width: 768px) {
        width: 53px;
        height: 53px;

        font-size: 12px;
        line-height: 2.33;
      }
    }

    &__text-top-coffee {
      background-color: #EFD478;
      border: 2px solid #EFD478;
    }

    &__text-top-milk {
      background-color: #D6936D;
      border: 2px solid #D6936D;
    }
  }



  .modal-icecream-form__text-bottom {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.25;
    }
  }

  .modal-icecream-form__subtitle {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    color: var(--secondary-color);
  }

  .modal-icecream-form__list-ingr {
    margin-bottom: 48px;
  }

  .modal-icecream-form__item-ingr {
    display: flex;
    justify-content: space-between;

    .modal-icecream-form__list-ingr &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  .modal-icecream-form__ingr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;

    color: var(--secondary-color);
  }

  .modal-icecream-form__active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-icecream-form__input {
    width: 100%;
    height: 42px;
    padding: 11px;
    margin-bottom: 16px;

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      width: 368px;
      padding: 11px 16px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: var(--secondary-color);
    }
  }

  .modal-icecream-form__coment {
    width: 100%;
    height: 84px;
    padding: 11px;
    margin-bottom: 32px;

    resize: none;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      width: 368px;
      padding: 11px 16px;
    }

        &::placeholder {
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
          color: var(--secondary-color);
        }
  }