<section class="advantages">
    <div class="container">
    <h2 class="visually-hidden">Our advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__item">
                <b class="advantages__accent">721</b>
                <p class="advantages__text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
                <b class="advantages__accent">16kg</b>
                <p class="advantages__text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
                <b class="advantages__accent">84</b>
                <p class="advantages__text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
        </li>
    </ul>
    
    </div>
    </section>