<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__text">
        <p class="footer__subtitle">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer__social">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg height="20" width="20">
                <use href="/src/images/symbol-defs.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg height="20" width="20">
                <use href="/src/images/symbol-defs.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg height="20" width="20">
                <use href="/src/images/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <span class="footer__contact"
          >Feel free to contact
          <a class="footer__contact-tell" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
  <a href="./images/our-logo.png">
    <img class="our-logo" src="./images/our-logo.png" alt="our logo" />
  </a>
</footer>
