<footer class="footer">
    <div class="container">
        <div class="footer__text">
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__subtitle">with passion</p>
        </div>
        <ul class="footer__social">
            <li class="footer__item">
                <svg height="19" width="9">
                    <use href="/src/images/symbol-defs.svg#githab"></use>
                </svg>
            </li>
            <li class="footer__item">
                <svg height="14" width="19">
                    <use href="/src/images/symbol-defs.svg#telegram"></use>
                </svg>
            </li>
            <li class="footer__item">
                <svg height="19" width="19">
                    <use href="/src/images/symbol-defs.svg#facebook"></use>
                </svg>
            </li>
        </ul>
        <p class="footer__contact"></p>
        <div class="footer__bottom">
            <p class="footer__bottom-text">&#169; 2022 - IceCream.</p>
            <p class="footer__bottom-text">All Rights Reserved.</p>
        </div>
    </div>
</footer>