<section class="container">
    <div class="proparallax__box">
        <div id="proparallax">
            <picture>
                <source
                    srcset="/src/images/gallery/desktop/brooke-desktop-1x.webp 1x, /src/images/gallery/desktop/brooke-desktop@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                <source
                    srcset="/src/images/gallery/desktop/brooke-desktop-1x.jpeg 1x, /src/images/gallery/desktop/brooke-desktop@2x.jpeg 2x"
                    media="(min-width: 1200px)">
        
                <source
                    srcset="/src/images/gallery/mobile/brooke-mobile@1x.webp 1x, /src/images/gallery/mobile/brooke-mobile@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                <source
                    srcset="/src/images/gallery/mobile/brooke-mobile-1x.jpeg 1x, /src/images/gallery/mobile/brooke-mobile@2x.jpeg 2x"
                    media="(min-width: 1200px)">
                <img class="one" src="/src/images/gallery/desktop/brooke-desktop-1x.jpeg" />
            </picture>
            <picture>
                <source
                    srcset="/src/images/gallery/desktop/courtney-desktop-1x.webp 1x, /src/images/gallery/desktop/courtney-desktop@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                <source
                    srcset="/src/images/gallery/desktop/courtney-desktop-1x.jpeg 1x, /src/images/gallery/desktop/courtney-desktop@2x.jpeg 2x"
                    media="(min-width: 1200px)">
                <img class="two" src="/src/images/gallery/desktop/courtney-desktop-1x.jpeg" />
            </picture>
            <picture>
                <source
                    srcset="/src/images/gallery/desktop/kenta-desktop@1x.webp 1x, /src/images/gallery/desktop/kenta-desktop@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                <source
                    srcset="/src/images/gallery/desktop/kenta-desktop@1x.jpeg 1x, /src/images/gallery/desktop/kenta-desktop@2x.jpeg 2x"
                    media="(min-width: 1200px)">
                <img class="three" src="/src/images/gallery/desktop/kenta-desktop@1x.jpeg" />
            </picture>
        </div>
    </div>
</section>