<!-- ! Шапка страницы -->
<header class="hat">
  <div class="container hat__container">
    <picture class="heder-logo">
      <source
        srcset="./images/heder-logo.png 1x, ./images/heder-logo@2.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/heder-logo-tablet.png    1x,
          ./images/heder-logo-tablet@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/heder-logo-mobile.png    1x,
          ./images/heder-logo-mobile@2x.png 2x
        "
        media="(max-width:767px)"
      />
      <img src="./images/heder-logo-mobile.png" alt="logo ice cream" />
    </picture>
    <nav>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#Home">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#How it’s made?">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#Our-products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-button mobile-menu-btn">
      <svg class="mobile-menu-btn__icon">
        <use href="./images/symbol-defs-btn.svg#icon-menu_burger"></use>
      </svg>
    </button>
    <button type="button" class="hat__button button btn-solid-bg">
      Buy now
    </button>
  </div>
</header>
