<!-- ! Шапка страницы -->
<header>
    <div class="container">
        <picture>
            <source srcset="./images/heder-logo.png 1x, ./images/heder-logo@2.png 2x" 
            media="(min-width:1200px)">
            <source srcset="./images/heder-logo-tablet.png 1x, ./images/heder-logo-tablet@2x.png 2x" 
            media="(min-width:768px)">
            <source srcset="./images/heder-logo-mobile.png 1x, ./images/heder-logo-mobile@2x.png 2x" 
            media="(max-width:767px)">
            <img
              src="./images/heder-logo-mobile.png"
              alt="logo ice cream"
            />
          </picture>
      <nav>
        <ul class="">
          <li><a class="" href="#Home">Home</a></li>
          <li><a class="" href="#How it’s made?">How it’s made?</a></li>
          <li><a class="" href="#Our products">Our products</a></li>
          <li><a class="" href="#Contact">Contact</a></li>
        </ul>
      </nav>
      <button type="button" class="">Buy now</button>
    </div>
  </header>