<section class="hero">
  <div class="container hero__container">
   <div class="hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">ice cream made with passion</h1>
      <ul class="hero__list">
        <li class="hero__item">
          <a href="#Our-products" class="hero__link btn-products">Products</a>
        </li>
        <li class="hero__item">
          <a href="#How it’s made?" class="hero__link btn-hero">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero__order">

      <picture>
        <source srcset="
            /src/images/hero/plate-desctop@1x.png 1x,
            /src/images/hero/plate-desctop@2x.png 2x
          " media="(min-width: 1200px)" type="image/png" />
        <source srcset="
            /src/images/hero/plate-tab@1x.png 1x,
            /src/images/hero/plate-tab@2x.png 2x
          " media="(min-width: 768px)" type="image/png" />

        <img class="hero__plate" src="/src/images/hero/plate-desctop@1x.png" alt="icecream" />
      </picture>
     <div class="hero__block-arrow">
      <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et</p>
        <button class="hero__arrow" 
        aria-label="about Lorem
        type="button"
        >
          <svg class="hero__svg">
            <use  href="/src/images/symbol-defs.svg#arrow"></use>
          </svg>
        </button>
     </div>
    </div>
   </div>

        <picture>
          <source srcset="
            /src/images/hero/icecream-desctop@1x.png 1x,
            /src/images/hero/icecream-desctop@2x.png 2x
          " media="(min-width: 1200px)" type="image/png" />
          <source srcset="
            /src/images/hero/icecream-tab@1x.png 1x,
            /src/images/hero/icecream-tab@2x.png 2x
          " media="(min-width: 768px)" type="image/png" />
          <source srcset="
            /src/images/hero/icecream-mobile@1x.png 1x,
            /src/images/hero/icecream-mobile@2x.png 2x
          " media="(max-width: 767px)" type="image/png" />

          <img class="hero__icecream" src="/src/images/hero/icecream-desctop@1x.png"
            alt="icecream" />
        </picture>

        <picture>
          <source srcset="
            /src/images/hero/bg-icecream-desctop.png 1x
          " media="(min-width: 1200px)" type="image/png" />
          <source srcset="
            /src/images/hero/bg-icecream-tab.png 1x
          " media="(min-width: 768px)" type="image/png" />
          <source srcset="
            /src/images/hero/bg-icecream-mobile.png 1x
          " media="(max-width: 767px)" type="image/png" />

          <img class="hero__bg-icecream" src="/src/images/hero/bg-icecream-desctop.png" alt="icecream" />
        </picture>

        <picture>
          <source srcset="
            /src/images/hero/smile1-desctop.png 1x
          " media="(min-width: 1200px)" type="image/png" />
          <source srcset="
            /src/images/hero/smile1-tab.png 1x
          " media="(min-width: 768px)" type="image/png" />
          <source srcset="
            /src/images/hero/smile1-mobile.png 1x
          " media="(max-width: 767px)" type="image/png" />

          <img class="hero__smile1" src="/src/images/hero/smile1-desctop.png" alt="icecream" />
        </picture>

        <picture>
          <source srcset="
            /src/images/hero/smile2-desctop.png 1x
          " media="(min-width: 1200px)" type="image/png" />
          <source srcset="
            /src/images/hero/smile2-tab.png 1x
          " media="(min-width: 768px)" type="image/png" />
          <source srcset="
            /src/images/hero/smile2-mobile.png 1x
          " media="(max-width: 767px)" type="image/png" />

          <img class="hero__smile2" src="/src/images/hero/smile1-desctop.png" alt="icecream" />
        </picture>

        <picture>
          <source srcset="
            /src/images/hero/smile3-desctop.png 1x
          " media="(min-width: 1200px)" type="image/png" />
          <source srcset="
            /src/images/hero/smile3-tab.png 1x
          " media="(min-width: 768px)" type="image/png" />
          <source srcset="
            /src/images/hero/smile3-mobile.png 1x
          " media="(max-width: 767px)" type="image/png" />

          <img class="hero__smile3" src="/src/images/hero/smile1-desctop.png" alt="icecream" />
        </picture>

        <div class="hero__statistics statistics">
          <p class="statistics__number">16</p>
          <p class="statistics__cafes">cafes</p>
          <p class="statistics__number">23</p>
          <p class="statistics__cafes">food trucks</p>
        </div>

  </div>
</section>