<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">ice cream made with passion</h1>
    </div>
    <div class="hero__statistics">
      <ul class="hero__list">
        <li class="hero__item">
          <a href="#Our-products" class="hero__link">Products</a>
        </li>
        <li class="hero__item">
          <a href="#How it’s made?" class="hero__link">How it’s made?</a>
        </li>
      </ul>
        <img class="hero__plate" src="/src/images/hero/plate.png" alt="">
      <p class="hero__text">hero__plate</p>
      
        <svg class="hero__left">
          <use href="/src/images/hero/left.png"></use>
        </svg>
        <svg class="hero__center">
          <use href="/src/images/hero/center.png"></use>
        </svg>
        <svg class="hero__right">
          <use href="/src/images/hero/right.png"></use>
        </svg>
        <img class="hero__icecream" src="/src/images/hero/icecream.png" alt="">
        <img class="hero__smile1" src="/src/images/hero/smile2.png" alt="">
        <img class="hero__smile2" src="/src/images/hero/smile1.png" alt="">
        <img class="hero__smile3" src="/src/images/hero/smile3.png" alt="">
    </div>
  </div>
</section>