<div class="hero">
    <div class="container">
        <div>
            <h1 class="hero__tittle">Ice cream made with passion</h1>

            <div class="outlets">
                <h2 class="outlets__title">16</h2>
                <p class="outlets__name">cafes</p>

                <h2 class="outlets__title">23</h2>
                <p class="outlets__name">food trucks</p>
            </div>
        </div>

        <ul class="anchor-list">
            <li class="anchor-list__item">
                <a href="#products-section" class="anchor-list__link">Products</a>
            </li>
            <li class="anchor-list__item">
                <a href="#how-its-made-section" class="anchor-list__link">How it's made?</a>
            </li>

            <div class="hero-description">
                <!-- <picture>
                    <source srcset="/./src/images/hero/desktop-plate-ice-cream-img.jpg 1x, /./src/images/hero/desktop-plate-ice-cream-img@2x.jpg 2x" media="(min-width: 1200px)">

                    <source srcset="/./src/images/hero/tablet-plate-ice-cream-img.jpg 1x, /./src/images/hero/tablet-plate-ice-cream-img@2x.jpg 2x" media="(min-width: 768px)">

                    <img src="/./src/images/hero/tablet-plate-ice-cream-img.jpg" alt="ice-cream-plate">
                </picture> -->

                <p class="hero-description__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere nemo eaque praesentium autem suscipit. Quaerat vero eos beatae nemo minima doloribus blanditiis eum obcaecati officiis? Tenetur dolorem quis laboriosam exercitationem.
                </p>
                <button class="hero-button__arrow">arro button</button>
            </div>

            <!-- <picture>
                <source srcset="/./src/images/hero/desktop-happy-ice-cream-img.jpg 1x, /./src/images/hero/desktop-happy-ice-cream-img@2x.jpg 2x" media="(min-width: 1200px)">

                <source srcset="/./src/images/hero/tablet-happy-ice-cream-img.jpg 1x, /./src/images/hero/tablet-happy-ice-cream-img@2x.jpg 2x" media="(min-width: 768px)">

                <source srcset="/./src/images/hero/mobile-happy-ice-cream-img.jpg 1x, /./src/images/hero/mobile-happy-ice-cream-img@2x.jpg 2x" media="(max-width: 767px)">

                <img src="/./src/images/hero/desktop-happy-ice-cream-img.jpg" alt="happy-ice-creame">
            </picture> -->
        </ul>
    </div>
</div>