<div class="backdrop is-hidden" data-modal>
    <div class="modal-icecream">
        <button class="modal-icecream__btn-close btn-modal-close" type="button" data-modal-close>
            <svg class="btn-modal-close__icon">
                <use href="/src/images/symbol-defs-btn.svg#icon-modal-close"></use>
            </svg>
        </button>
        <form name="modal-icecream-form">
              <p class="modal-icecream-form__title">Chololate icecream</p>
              <ul class="modal-icecream-form__list">
                  <li class="modal-icecream-form__item">
                      <p class="modal-icecream-form__text-top">320</p>
                      <span class="modal-icecream-form__text-bottom">kcal</span>
                  </li>
                  <li class="modal-icecream-form__item">
                      <p class="modal-icecream-form__text-top">4g</p>
                      <span class="modal-icecream-form__text-bottom">Prote...</span>
                  </li>
                  <li class="modal-icecream-form__item">
                      <p class="modal-icecream-form__text-top">8,2g</p>
                      <span class="modal-icecream-form__text-bottom">Fats</span>
                  </li>
                  <li class="modal-icecream-form__item">
                      <p class="modal-icecream-form__text-top">40,4g</p>
                      <span class="modal-icecream-form__text-bottom">Carbs</span>
                  </li>
              </ul>
              <p class="modal-icecream-form__subtitle">Ingredients</p>
              <ul class="modal-icecream-form__list-ingr">
                  <li class="modal-icecream-form__item-ingr">
                      <p class="modal-icecream-form__ingr">Milk</p>
                      <p class="modal-icecream-form__ingr">100ml</p>
                  </li>
                  <li class="modal-icecream-form__item-ingr">
                      <p class="modal-icecream-form__ingr">Belgian chocolate</p>
                      <p class="modal-icecream-form__ingr">20g</p>
                  </li>
                  <li class="modal-icecream-form__item-ingr">
                      <p class="modal-icecream-form__ingr">Cream</p>
                      <p class="modal-icecream-form__ingr">150 ml</p>
                  </li>
                  <li class="modal-icecream-form__item-ingr">
                      <p class="modal-icecream-form__ingr">Cocoa powder</p>
                      <p class="modal-icecream-form__ingr">30g</p>
                  </li>
                  <li class="modal-icecream-form__item-ingr">
                      <p class="modal-icecream-form__ingr">Sugar</p>
                      <p class="modal-icecream-form__ingr">40g</p>
                  </li>
                  <li class="modal-icecream-form__item-ingr">
                      <p class="modal-icecream-form__ingr">Vanilla sugar</p>
                      <p class="modal-icecream-form__ingr">10g</p>
                  </li>
              </ul>
              <div class="modal-icecream-form__active">
                  <input class="modal-icecream-form__input" type="text" name="username" pattern="[a-zA-Zа-яА-ЯІіЇї`]+"  placeholder="Name" required>
                  <input class="modal-icecream-form__input" type="tel" name="tel" pattern="[0-9]{12}" title="38xxxxxxxxxx"  placeholder="Phone" required>
                  <textarea class="modal-icecream-form__coment" name="coment" placeholder="Comment"></textarea>
                  <button class="modal-icecream-form__btn btn-modal" type="submit">Submit</button>
              </div>
        </form>
    </div>
</div>

