<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modal</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/sass/index.css" />
  </head>
  <body>


    <div class="container wrapper">
      <div class="modal">
        <button type="button" class="close__button" data-modal-close>
          <svg class="close__icon" width="11" height="11">
            <use href="/src/images/symbol-defs.svg#close"></use>
          </svg>
        </button>
        <p class="modal__title">Buy now</p>
        <ul class="modal__list">
          <li class="modal__item">
            <button class="modal__block">
              <p class="modal__text">ice cream</p>
            </button>
          </li>
          <li class="modal__item">
            <button class="modal__block">
              <p class="modal__text">ice cream</p>
            </button>
          </li>
          <li class="modal__item">
            <button class="modal__block">
              <p class="modal__text">ice cream</p>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>


    <!-- <button class="button" type="button">Buy now</button> -->
    <!-- <div class="modal-mobile">
      <ul class="modal-input__image">
        <li>
          <img
            src="/src/images/modal/ice-cream_m.png"
            alt=""
            width="131"
            height="131"
          />
        </li>
        <li>
          <img
            src="/src/images/modal/ice-coffe_m.png"
            alt=""
            width="131"
            height="131"
          />
        </li>
        <li>
          <img
            src="/src/images/modal/milkshake_m.png"
            alt=""
            width="131"
            height="131"
          />
        </li>
      </ul>
      <span class="modal-mobile__buy">Buy now</span>
      <form class="modal-input" name="" autocomplete="on">
        <ul class="modal-list">
          <li class="">
            <label class="span-ice-cream"
              ><input
                class="modal-list__ice-cream"
                type="checkbox"
                name="ice-cream"
                value="ice-cream"
              />ice cream</label
            >
          </li>
          <li class="">
            <label class="span-ice-cream"
              ><input
                class="modal-list__ice-coffe"
                type="checkbox"
                name="ice-cream"
                value="ice-coffe"
              />ice coffee</label
            >
          </li>
          <li class="">
            <label class="span-ice-cream"
              ><input
                class="modal-list__milkshake"
                type="checkbox"
                name="ice-cream"
                value="milkshake"
              />milkshake</label
            >
          </li>
        </ul>
        <input
          class="modal-input__name-m"
          type="text"
          name="username"
          required
          placeholder="Name"
        />
        <input
          class="modal-input__phone-m"
          type="tel"
          name="phone"
          maxlength="10"
          required
          placeholder="Phone"
        />
        <input
          class="modal-input__comment-m"
          type="text"
          name="comment"
          placeholder="Comment"
        />
        <button class="submit-button" type="submit">Submit</button>
      </form>
    </div> -->
  </body>
</html>

<!-- <div>

</div>
<div>

</div>
<div>

</div> -->
<!-- <div class="modal-input__image">
        <div class="modal-input__ice-cream">
          <img
            src="/src/images/modal/ice-cream_m.png"
            alt=""
            width="131"
            height="131"
          />
          <span class=""> ice cream </span>
        </div>
        <img
          src="/src/images/modal/ice-coffe_m.png"
          alt=""
          width="131"
          height="131"
        />
        <img
          src="/src/images/modal/milkshake_m.png"
          alt=""
          width="131"
          height="131"
        /> -->
<!--
<div>
  <span class="">How it’s made?</span>
  <div class="modal-read-more">
    <div class="modal-play-video">
      <svg href="./">
        <use href></use>
      </svg>
    </div>
  </div>
</div> -->
