<div class="container products-box">
  <p class="overtext dark-text">100% natural</p>
  <h2 class="title dark-text">products</h2>

  <ul class="products-list">
    <li class="products-list__item products-list__item_bg-green">
      <div class="products-list__underlay products-list__underlay_bg-green">
        <h3 class="products-list__title">ice cream</h3>
        <p class="products-list__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </div>

      <button type="button" class="btn-open-modal-products" data-modal-open-cream>
        <svg class="open-modal-products__icon">
          <use
            href="./images/symbol-defs-btn.svg#btn-open-modal-products_icon"
          ></use>
        </svg>
      </button>
    </li>

    <li class="products-list__item products-list__item_bg-yellow">
      <div class="products-list__underlay products-list__underlay_bg-yellow">
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
      </div>
      <button type="button" class="btn-open-modal-products" data-modal-open-coffee>
        <svg class="open-modal-products__icon">
          <use
            href="./images/symbol-defs-btn.svg#btn-open-modal-products_icon"
          ></use>
        </svg>
      </button>
    </li>

    <li class="products-list__item products-list__item_bg-chocolate">
      <div class="products-list__underlay products-list__underlay_bg-chocolate">
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
      </div>

      <button type="button" class="btn-open-modal-products" data-modal-open-milk>
        <svg class="open-modal-products__icon">
          <use
            href="./images/symbol-defs-btn.svg#btn-open-modal-products_icon"
          ></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
