<section class="container reviews">
    <div class="slideshow-container">
        <h2 class="invisible-title">Customer Reviews</h2>
        <div class="mySlides fade">
            <div class="slider-wrapper">
                <picture>
                <source srcset="./images/reviews/Emily.webp 1x, ./images/reviews/Emily@2x.webp 2x"
                type="image/webp"/>

                <source
                srcset="./images/reviews/Emily.jpg 1x, ./images/reviews/Emily@2x.jpg 2x"/>

                <img class="slider-wrapper__img" src="./images/reviews/Emily.jpg" alt="pfoto Emily">
                </picture>
            </div>
            <p class="slider__reviews">
                I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
            <div class="slider__name">Emily, Los Angeles</div>
        </div>
        <div class="mySlides fade">
            <div class="slider-wrapper">
                <picture>
                <source srcset="./images/reviews/Bryan.webp 1x, ./images/reviews/Bryan@2x.webp 2x"
                type="image/webp"/>

                <source
                srcset="./images/reviews/Bryan.jpg 1x, ./images/reviews/Bryan@2x.jpg 2x"/>

                <img class="slider-wrapper__img" src="./images/reviews/Bryan.jpg" alt="pfoto Bryan">
                </picture>
            </div>
            <p class="slider__reviews">
                Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
                </p>
            <div class="slider__name">Bryan, New-York</div>
        </div>
        <div class="mySlides fade">
            <div class="slider-wrapper">
                <picture>
                <source srcset="./images/reviews/Diana.webp 1x, ./images/reviews/Diana@2x.webp 2x"
                type="image/webp"/>

                <source
                srcset="./images/reviews/Diana.jpg 1x, ./images/reviews/Diana@2x.jpg 2x"/>

                <img class="slider-wrapper__img" src="./images/reviews/Diana.jpg" alt="pfoto Diana">
                </picture>
            </div>
            <p class="slider__reviews">
                Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
                </p>
            <div class="slider__name">Diana, Chicago</div>
        </div>
        <div class="mySlides fade">
            <div class="slider-wrapper">
                <picture>
                <source srcset="./images/reviews/Sam.webp 1x, ./images/reviews/Sam@2x.webp 2x"
                type="image/webp"/>

                <source
                srcset="./images/reviews/Sam.jpg 1x, ./images/reviews/Sam@2x.jpg 2x"/>

                <img class="slider-wrapper__img" src="./images/reviews/Sam.jpg" alt="pfoto Sam">
                </picture>
            </div>
            <p class="slider__reviews">
                I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
                </p>
            <div class="slider__name">Sam, Los Angeles</div>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
</section>
